.outer {
    width: 620px;
    height: 420px;
    background: white;
}

.button {
    position: absolute;
    top: 150px;
    left: 290px;
    font-family: Courier New;
    font-weight: bold;
    font-size: 20px;
    width: 50px;
    height: 30px;
    background: red;
    padding: 3px;
    text-align: center;
    
    &:hover {
        background: black;
        color: white;
        cursor: pointer
    }
}

.clickoptions {
    top: 190px;
}

.clickcredits {
    top: 230px;
}

.clickcredits,
 .clickoptions {
    width: 100px;
}
