.outer{
    width: 620px;
    height: 420px;
    background: white;
}
.clickplay{
    position: absolute;
    top: 150px;
    left: 290px;
    font-family: Courier New;
    font-weight: bold;
    font-size: 20px;
    width: 50px;
    height: 30px;
    background: red;
    padding: 3px;
    text-align: center;
}
   
.clickplay:hover {
    background: black;
    color: white;
    cursor: pointer
}
   
.clickoptions{
    position: absolute;
    top: 190px;
    left: 290px;
    font-family: Courier New;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 30px;
    background: red;
    padding: 3px;
    text-align: center;
}
   
.clickoptions:hover{background: black;color: white;cursor: pointer}
   
.clickcredits{
    position: absolute;
    top: 230px;
    left: 290px;
    font-family: Courier New;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 30px;
    background: red;
    padding: 3px;
    text-align: center;
}
   
.clickcredits:hover {
    background: black;
    color: white;
    cursor: pointer
}
