h1{
    color:black;
}

.playerdiv {
  width: 50px;
  height: 50px;
  background: red;
  border: black solid 1px;
}

.bordertest {
   width: 300px;
   height: 60px;
   background: Aqua;
   border: green solid 1px;
   position: absolute;
   top: 200px;
   left: 200px;
}

.edge {
  width: 800px;
  height: 600px;
  border: black solid 3px;
}
